<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="..\styles\main.css">
</head>
<body>
  <div id="toolbar">
    <a href="/">
      <button type="button">Home</button>
    </a>
    <a href="/info">
      <button type="button">info</button>
    </a>
    <a href="/info">
      <button type="button">About us</button>
    </a>
    <a href="/Info">
      <button type="button">FAQ and advices</button>
    </a>
  </div>
  <main>
    
    </div>
    <div class="card">
      <br>
      <div class="desc">
        <h2>Your feed back is important to us!</h2>
        <br>
        <br>
        <br>
        >We apreciate that you called us and we will be right back at you the soon as possible
        plese leeve us your must sincere feed back:
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
      
       
       
       
       
      </div>
      <pre class="code">
        <div id="cookies">
          <h3>please enter tour naime and email: </h3>
          <label for="textbox">Name:</label>
          <input id="name" type="text" name="Name">
          <label for="email">E-mail:</label>
          <input id="email" type="email" name="email">
          </p>
          <label for="query"><h3>please enter your doubt :</h3></label> <br>
          <textarea name="textarea" id="text" cols="60" rows="10"></textarea>
          <button id="Submit">Submit</button>
      </pre>
    </div>
</div>
</main>
<script src="scripts/main.js"></script>
</body>
</html>