<div id=info>
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco.</p>
        </div>
        <div class="card">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Sep 2, 2017</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco.</p>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <div class="fakeimg" style="height:100px;">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg">
            <p>Image</p>
          </div>
          <div class="fakeimg">
            <p>Image</p>
          </div>
          <div class="fakeimg">
            <p>Image</p>
          </div>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text..</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
    </div>
    </style>
    </head>
  </div>


  <main>
    <div id="cookies">
      <p>My cookies (if you dont like leave):)</p>
      text box's
      <button id="button">X</button>
      <label for="textbox">Name:</label>
      <input id="name" type="text" name="Name">
      <label for="email">E-mail:</label>
      <input id="email" type="email" name="email">
      <p>whitch package is query about?</p>
      radio button's
      <input type="radio" id="testone" name="test" value="first">
      <label for="testone">Standard</label><br>
      <input type="radio" id="testtwo" name="test" value="second">
      <label for="testtwo">The chozen One package</label>
      <br>
      <br>
      <p>we may respond via owl, on a scale of 1 to 10, how scared are you of <br>owls?<br>(10 being the most scared)
      </p>
      <input type="number" name="numer"> <br>
      <label for="query">please enter your query:</label> <br>
      <textarea name="textarea" id="text" cols="60" rows="10"></textarea>
      <button id="Submit">Submit</button>
    </div>
</div>
</main>