<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My test Page</title>
  <link rel="stylesheet" href="..\styles\main.css">
</head>

<body>
  <div id="toolbar">
    <a href="/">
      <button type="button">Home</button>
    </a>
    <a href="/info">
      <button type="button">About us</button>
    </a>
    <a href="/Contact_us">
        <button type="button">Contact us</button>
    </a>
    <a href="/Info">
      <button type="button">FAQ and advices</button>
    </a>
  </div>



  <div class="wrapper">

    <br><br><br><br>


    <div class="card">
      <div class="desc">
        <h3>Main Stage</h3>

        Data on Quandl is organized into databases and datasets.

        <p>A dataset is a single time series, with one or more columns. Column 0 of a dataset is always the date column.
          Columns 1 to n are data columns.</p>

        <p>A database is a collection of datasets from a single publisher and/or on a single subject.</p>

        <p>The Quandl API provides methods to access both dataset and database objects, provided you know their Quandl
          codes.</p>
      </div>
      <div id="code2" class="code2">
        sdf
      </div>
    </div>

    <div class="card">
      <div class="desc">
        <h3>Quandl Codes</h3>

        Every database on Quandl has a unique string identifier called the database_code.

        <p>Every dataset on Quandl belongs to one and exactly one database. Every dataset thus has a database_code as
          well as a dataset_code associated with it. Both of these are required to uniquely identify the dataset.</p>

        <p>The combination of database_code and dataset_code is called the Quandl code.</p>
      </div>
      <pre class="code">World</pre>
    </div>
  </div>















  <script src="scripts/main.js"></script>
</body>

</html>