body {
  margin: 0px;
  background-image: url("../photos/index/homephoto.jpg");
}

#toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #551A8B;
}

button {
  padding: 5px 10px 5px 10px;
  background: #ff671d;
  border-radius: 10px;
  color: #fff;
  margin: 1.5vh 1vh;
  cursor: pointer;
}
button a{position:relative;}
button a{top:0;left:0;bottom:0;right:0;}





.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
}












body {
  background: #dedede;
  height: 100%;
  font-family: 'Courier New';
  background-image: url("photos/index/homephoto.jpg");
}

/* .wrapper {
  margin-top: 5px;
  background: red;
  height: 100%;
} */
.card {
  padding: 10px;
  margin:  20px;
  border: 1px solid #000;
  background: #fff;

}
.desc, .code {
  width: 43%;
}

.desc {
  display: inline-block;
  padding: 10px;
}
.code {
  display: inline-block;
  background: #eee;
  color: #333;
  border: 1px solid #aaa;
  height: 100%;
  padding: 10px;
}



/*o que eu fiz*/
#header{
  background-image: url("photos/index/meoswheader.jpg");
}
#code2 {
    background-image: url("../photos/index/meoswheader.jpg");
    background-size: 100%;
    text-align: center;
    border: 1px solid #000000;
    width: 39%;
    display: inline-block;
    height: 100%;
    font-size: 100%;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:10vw;
}
  